{% extends 'base.html.twig' %}

{% block title %}Edition d'une tâche - {{ parent() }}{% endblock %}

{% block body %}

<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>{{ task.name }}</h1>
        </div>
    </header>
    <div id="content">
        {{ form_start(form) }}
        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="flex-form">
            <div>
                {{ form_label(form.deadline) }}
                {{ form_widget(form.deadline) }}
                {{ form_errors(form.deadline) }}
            </div>
            <div>
                {{ form_label(form.status) }}
                {{ form_widget(form.status) }}
                {{ form_errors(form.status) }}
            </div>
        </div>
        <div>
            {{ form_label(form.employee) }}
            {{ form_widget(form.employee) }}
            {{ form_errors(form.employee) }}
        </div>
        <br>
        {{ form_widget(form.submit, { 'label': 'Modifier' }) }}
        {{ form_end(form) }}
        <form action="{{ path('app_delete_task', {'id': task.id}) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
            <button class="delete-task" type="submit">Supprimer la tâche</button>
        </form>
    </div>
</main>
{% endblock %}
