{% extends 'base.html.twig' %}

{% block title %}Employés - {{ parent() }}{% endblock %}

{% block body %}

<main>
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Équipe</h1>
        </div>
    </header>
    <div id="content">
        <table id="team-container">
            <thead>
                <tr>
                    <th>Prénom, Nom</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            ND
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employee.firstname }} {{ employee.lastname }}</strong>
                            <span>{{ employee.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employee.contract.getLabel() }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path('app_edit_employee', {'id': employee.id}) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="{{ path('app_delete_employee', {'id': employee.id}) }}">
                        Supprimer
                    </a>
                </td>
            {% else %}
                <tr><td>Aucun employé trouvé.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
