{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - {{ parent() }}{% endblock %}

{% block body %}
<main>
    <header>
        <div id="title-page">
            <div class="flex-header">
                <h1>{{ project.name }}</h1>
                <div class="user-list">
                    {% for employee in project.employees %}
                    <div class="avatar">{{ employee.firstname|first|upper }} {{ employee.lastname|first|upper }}</div>
                    {% else %}
                        <p>Aucune employé trouvé.</p>
                    {% endfor %}
                </div>
                <a class="button" href="{{ path('app_edit_project', {'id': project.id}) }}">Modifier</a>
            </div>
        </div>
    </header>
    <div id="content">
        <div id="tasks-container">
            {% for status in ['To Do', 'Doing', 'Done'] %}
            <div  class="task-column">
                <h2>{{ status }}</h2>
                    {% for task in groupedTasks[status] %}
                    <div class="tasks-list">
                        <a class="task" href="{{ path('app_edit_task', {'id': task.id}) }}">
                            <h3>{{ task.name }}</h3>
                            {% if task.description %}
                            <p>{{ task.description }}</p>
                            {% endif %}
                            <div class="task-infos">
                                {% if task.deadline %}
                                <div class="task-deadline">
                                    <i class="fa-regular fa-calendar"></i> {{ task.deadline|date('d/m/Y') }}
                                </div>
                                {% endif %}
                                {% if task.employee %}
                                    <div class="mini-user">
                                        {{ task.employee.firstname|first|upper }} {{ task.employee.lastname|first|upper }}
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <a href="{{ path('app_add_task') }}" class="task-add">
                            + Ajouter une tâche
                        </a>
                    </div>
                {% else %}
                    <em>Aucune</em>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
